{% extends 'base/font-base.html' %}

{% block link %}
    <link rel="stylesheet" href="/static/css/auth/auth.css">
{% endblock %}



{% block main %}
    <!-- container start -->
    <main id="container">
        <div class="login-contain">
            <div class="top-contain">
                <a href="{% url 'account:register' %}" class="register">立即注册 &gt;</a>
            </div>
            <div class="form-contain">
                <div class="form-item">
                    <input type="tel" placeholder="请输入手机号" name="telephone" class="form-control" autocomplete="off">
                </div>
                    <div class="form-item clearfix">
                        <label>
                            <a href="javascript:void(0);" class="sms-captcha" title="发送验证码">发送验证码</a>
                        </label>
                    </div>
                <div class="form-item">
                    <input type="text" placeholder="请输入验证码" name="sms_captcha" class="form-control">
                </div>

                <div class="form-login">
                    <a href="javascript:void(0);" class="login-btn">开始验证</a>
                    <!--<input type="submit" value="登陆" class="login-btn">-->
                </div>
            </div>
        </div>
    </main>
    <!-- container end -->
{% endblock %}



{% block title %}
重置密码
{% endblock %}



{% block script %}
    <script src="/static/js/resetpassword.js"></script>
{% endblock %}