<!-- news_manage.html -->
   {% extends 'admin/base/admin_base.html' %}


   {% block header %}
     新闻管理列表
   {% endblock %}

   {% block title %}
     新闻管理列表
   {% endblock %}




   {% block content %}
	<link rel="stylesheet" href="/static/css/admin/base/bootstrap-datepicker.min.css">
     <style>
       .ml20 {
         margin-left: 20px;
       }

       .mt20 {
         margin-top: 20px;
       }
     </style>
     <div class="box">
       <div class="box header" style="margin: 0;">
         <form action="" class="form-inline">
           <div class="form-group ml20 mt20">
             <label for="select-time">时间：</label>
             <input type="text" class="form-control" placeholder="请选择起始时间" readonly id="select-time" name="start_time">
             -
             <input type="text" class="form-control" placeholder="请选择结束时间" readonly name="end_time">
           </div>
           <div class="form-group ml20 mt20">
             <label for="title">标题：</label>
             <input type="text" class="form-control" placeholder="请输入标题" id="title" name="title">
           </div>
           <div class="form-group ml20 mt20">
             <label for="author">作者：</label>
             <input type="text" class="form-control" placeholder="请输入作者" id="author" name="author">
           </div>
           <div class="form-group ml20 mt20">
             <label for="tag">标签：</label>
             <select class="form-control" id="tag" name="tag_id">
               <option value="0">--请选择标签--</option>
               <option value="1">1</option>
               <option value="2">2</option>
             </select>
           </div>
           <div class="form-group ml20 mt20">
             <button class="btn btn-primary">查询</button>
             <a href="javascript:void(0);" class="btn btn-info ml20">清除查询</a>
           </div>
         </form>
       </div>
       <div class="box-body">
         <table class="table table-bordered table-hover">
           <thead>
           <tr>
             <th>标题</th>
             <th>作者</th>
             <th>标签</th>
             <th>发布时间</th>
             <th>操作</th>
           </tr>
           </thead>
           <tbody>
           {% for news in newses %}
               <tr>
               <td><a href="javascript:void(0);" target="_blank">{{ news.title }}</a></td>
               <td>{{ news.author }}</td>
               <td>{{ news.tag.name }}</td>
               <td>{{ news.pub_time }}</td>
               <td>
                 <a href="javascript:void (0);" class="btn btn-xs btn-warning">编辑</a>
                 <a href="javascript:void (0);" class="btn btn-xs btn-danger btn-del" data-news-id="1">删除</a>
               </td>
             </tr>
           {% endfor %}


           </tbody>
         </table>
       </div>
       <div class="box-footer">
         <span class="pull-left">第1页/总共10页</span>
         <nav class="pull-right">
           <!-- 分页 -->
           <ul class="pagination">
               <!-- 上一页 -->

             {% if page.has_previous %}
                   <li><a href="?p={{ page.previous_page_number }}">上一页</a></li>
                {% else %}
                    <li class="disabled"><a href="javascript:void(0);">上一页</a></li>
               {% endif %}
            <!--
            简单的分页
             {% for pag_num in paginator.page_range %}
                {% if pag_num == page.number %}
                     <li class="active">
                  {% else %}
                     <li>
                  {% endif %}
                    <a href="?p={{ pag_num }}">{{ pag_num }}</a></li>
                {% endfor %}
             -->
           {% if left_has_more %}
                <li><a href="?p=1">1</a></li>
                <li><a href="javascript:void (0);">...</a></li>
           {% endif %}
            {#左边页码#}
           {% for left_page in left_pages %}
                <li><a href="?p={{ left_page }}">{{ left_page }}</a></li>
           {% endfor %}

            {#当前页面#}
            {% if current_page %}
                 <li class="active"><a href="?p={{ current_page }}">{{ current_page }}</a></li>
            {% endif %}

            {#右边页码#}
            {% for right_page in right_pages %}
                <li><a href="?p={{ right_page }}">{{ right_page }}</a></li>
            {% endfor %}

            {% if right_has_more %}
            <li><a href="javascript:void (0);">...</a></li>
            <li><a href="?p={{ total_page }}">{{ total_page }}</a></li>
            {% endif %}

             <!-- 下一页 -->

                {% if page.has_next %}
                    <li><a href="?p={{ page.next_page_number }}">下一页</a></li>
                {% else %}
                    <li class = disabled><a href="javascript:void(0);">下一页</a></li>
                {% endif %}

           </ul>
         </nav>
       </div>
     </div>
   {% endblock %}

   {% block script %}
     <script src="/static/js/admin/base/bootstrap-datepicker.min.js"></script>
     <script src="/static/js/admin/base/bootstrap-datepicker.zh-CN.min.js"></script>
     <script src="/static/js/admin/news/news_manage.js"></script>
   {% endblock %}